* {
    font-family:'mono';
}
body {
    max-width:500;
    margin:auto;
}
table {
    border:4px double black;
    padding:5px;
}
h1 {
    margin-top:10px;
}
a:target {
    font-weight:bold;
    text-decoration:underline;
    animation: flash 1s infinite;
}
@keyframes flash {
  0% { color: black; }
  50% { color: red; }
  100% { color: black; }
}
